api.techmeowt.com:80 {
    header / Access-Control-Allow-Origin *
    proxy /60s/add 60s:80/add
    proxy / interactive:52 {
        websocket
        transparent
    }
}

repl.techmeowt.com:80 {
    root /web
    index repl.html
}
