:80 {
    root /web
    index repl.html
    header /api/ Access-Control-Allow-Origin *
    proxy /api/exec/ runcontainer:80 {
        without /api/exec
        websocket
        transparent
    }
    proxy /api/store store:80 {
        without /api/store
        transparent
    }
}
