.editor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 65%;
}
.terminal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    float: right;
    border: none;
    overflow: hidden;
}
.invisible {
    display: none;
}
