.editor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 65%;
}
.terminal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    float: right;
    border: none;
    overflow: hidden;
}
.invisible {
    display: none;
}
.term-preloader {
    width: 50%;
    margin: auto;
    z-index: 4;
}
.abscenter {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.h-chroma {
    word-break: break-all;
    white-space: pre-line;
}
